* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sprint-data {
  padding: 10px 0px 0px 20px;
}

.panels {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 50px;
}
